* {
    box-sizing: border-box;
}

button {
    color: var(--vscode-button-foreground);
    border-color: var(--vscode-button-background);
    background-color: var(--vscode-button-background);
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
    border: 1px solid var(--vscode-focusBorder);
}

.compile, .runtime{
    display: flex;
    direction: column;
}

div.compile-error-container {
    color: var(--vscode-description);
    margin-top: 5px;
    margin-bottom: 5px;
}

.compile-error-item {
    border-radius: 5px;
    padding: 10px;
    border: 1px;
    margin-top: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items vertically in the center */
}

.compile-error-item-inner {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between;
}

.compile-error-item:hover {
    background-color: var(--vscode-dropdown-border);
}

.compile-error-item-inner button {
    background-color: var(--vscode-button-secondaryBackground);
    border-color: var(--vscode-button-secondaryBorder);
    color: var(--vscode-button-secondaryForeground);
    padding : 5px;
    margin-left: auto;
}

.compile-error-item p {
    margin-right: auto; /* Push the paragraph to the left */
}

div.compile-error-item-inner > button:hover {
    background-color: var(--vscode-button-background);
}

.dot {
    height: 30px;
    width: 30px;
    margin-left: 7px;
    background-color: var(--vscode-inputValidation-errorBackground);
    color: var(--vscode-inputValidation-errorForeground);
    border-color: var(inputValidation-errorBorder);
    border-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot > p {
    font-size: medium;
    margin: 0px;
    text-align: center;
    font-weight: bold;
}
